@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* ================================================================ */
  /* default css are starts here*/
  section {
    padding: 90px 0 90px 0;
  }
  .container {
    width: 95%;
    overflow: hidden;
  }
  div.titleDiv {
    width: 80%;
    margin-bottom: 60px;
  }
  div.titleDiv h2 {
    font-size: 24px;
  }
  /* default css ends here*/
  /* ================================================================ */

  /* ================================================================ */
  /* Header Responsive CSS are starts here  */
  header {
    width: 100%;
    background-color: #ffffffdc;
    padding: 3px 5px;
  }
  header .logo {
    width: fit-content;
    height: fit-content;
  }
  header .logo img {
    width: 170px;
    height: 30px;
  }

  /* swho the mobile menu bar inside max width 600px */
  .menuBar {
    display: block;
    float: right;
    margin-top: 8px;
    cursor: pointer;
  }
  .menuBar i {
    margin: 0 auto;
    display: block;
    width: fit-content;
    color: #3799db;
    font-size: 28px;
    cursor: grab;
    transition: all 0.3s;
  }
  .menuBar:hover i {
    transform: scale(1.1);
  }
  menu {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: none;
  }
  .menuBar:hover menu {
    display: block;
  }
  menu ul {
    list-style: none;
    padding: 12px;
    width: fit-content;
    margin: 0 auto;
  }
  menu ul li {
    width: fit-content;
    margin: 0 auto;
    transition: all 0.3s;
    margin-bottom: 10px;
  }
  menu ul li:hover {
    transform: scale(1.05);
  }
  menu ul li:last-child {
    margin-bottom: 0;
  }
  menu ul li a {
    text-decoration: none;
    color: #3799db;
    transition: all 0.3s;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }
  menu ul li:hover a {
    color: #333333;
  }
  menu ul li a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    transform-origin: left;
    width: 0%;
    height: 2px;
    background-color: #3799db;
    transition: all 0.3s;
  }
  menu ul li:hover a::after {
    width: 100%;
  }

  header nav {
    display: none;
  }
  /* Header Responsive CSS ends here  */
  /* ================================================================ */

  /* ================================================================ */
  /* SectionOne responsive CSS design are starts here */
  #sectionOne article {
    width: 80%;
    margin: 0 auto;
  }
  #sectionOne article h1 {
    width: fit-content;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 13px;
  }
  #sectionOne article p {
    width: fit-content;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #sectionOne .bookNowButton button {
    font-size: 14px;
    padding: 10px 7px 10px 7px;
    width: 110px;
  }

  .videoBy a {
    font-size: 13px;
  }
  /* SectionOne responsive CSS design ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* service seciton CSS are Starts here*/
  .serviceCards {
    width: 90%;
  }
  .serviceCard {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .serviceCard img {
    width: 15%;
    height: 50px;
  }
  .serviceCard article {
    width: 80%;
  }
  .serviceCard article h3 {
    font-size: 17px;
  }
  .serviceCard article p {
    font-size: 14px;
  }
  /* service seciton CSS are ends here*/
  /* ================================================================ */

  /* ================================================================ */
  /* awesome section responsive CSS are Starts here */
  .awesomeTravelBoxes {
    width: 90%;
    margin: 0 auto;
  }
  .awesomeTravelBox {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .awesomeTravelBox:last-child {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .awesomeTravelBoxContent article h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .awesomeTravelBoxContent article h3:after {
    top: 35px;
    width: 100px;
  }
  .awesomeTravelBoxContent article p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .awesomeTravelBoxContent a {
    font-size: 19px;
  }
  /* awesome section responsive CSS ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* special categories section responsive css are starts here */
  .categoriesContainer {
    width: 90%;
  }
  .categoriesContainer .specialCategorie {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .categoriesContainer .specialCategorie:last-child {
    margin-bottom: 40;
  }
  .specialCategoriesImgBoxContent article h3 {
    font-size: 21px;
  }
  .specialCategoriesImgBoxContent article h3::after {
    height: 3px;
  }
  /* special categories section responsive ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* stattistics section responsive CSS are starts here */
  .statisticsContainer {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  .statisticsBox {
    width: 50%;
    margin-bottom: 70px;
    float: right;
  }
  .statisticsBox:last-child {
    margin-bottom: 40px;
  }
  .statisticsBox article img {
    width: 90px;
  }
  .statisticsBox article h3 {
    font-size: 25px;
  }
  .statisticsBox article p {
    font-size: 16px;
    font-weight: 400;
  }
  /* stattistics section responsive CSS ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* tour schedule section responsive CSS are starts here */
  .tourScheduleContainer table {
    width: 100%;
  }
  .tourScheduleContainer table th {
    font-size: 16px;
  }
  .tourScheduleContainer table td {
    font-size: 13px;
  }
  table tbody tr td:first-child,
  td:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
  }
  /* tour schedule section responsive CSS ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* travel packages section responsive css are starts here */
  .packages {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .packages:last-child {
    margin-bottom: 40px;
  }

  .packages .packagesIMG img {
    width: 100%;
    height: 200px;
  }
  .packagesDetails {
    width: 100%;
  }
  .packagesDetails article h4 span:first-child {
    font-size: 15px;
  }
  .packagesDetails article h4 span:last-child {
    font-size: 14px;
  }
  /* travel packages section responsive css ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* testimonial section responsive CSS are starts here */
  .testimonialBox {
    width: 90%;
  }
  .testimonialBox p {
    font-size: 15px;
  }
  .testimonialBox p:before {
    top: -5px;
  }
  .testimonialBoxProfile img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .testimonialBoxProfile span {
    font-size: 12px;
    margin-top: 20px;
  }
  /* testimonial section responsive CSS ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* subscribe section responsive CSS are starts here */
  .subscribeMainContent {
    width: 80%;
  }
  .subscribeMainContent form input {
    width: 100%;
    font-size: 15px;
  }
  .subscribeMainContent form button {
    font-size: 13px;
    width: fit-content;
    padding: 10px 14px;
  }
  /* subscribe section responsive CSS ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* footer section responsive css are starts here */
  .footerContentContainer {
    width: 100%;
  }
  .address {
    float: none;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .address h5 {
    font-size: 16px;
  }
  .address b {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .socialLinks h5 {
    margin-bottom: 15px;
  }
  .socialLinks ul li a {
    font-size: 27px;
  }
  .contactUsContainer {
    float: none;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .contactUs h5 {
    text-align: center;
  }
  .contactUs form input {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .contactUs form textarea {
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .contactUs form button {
    margin: 0 auto;
    font-size: 14px;
    padding: 10px 12px;
  }
  /* footer section responsive css ends here */
  /* ================================================================ */

  /* ================================================================ */
  /* back top top button */
  .bottomToTopButton {
    width: 35px;
    height: 35px;
    padding: 10px;
    font-size: 16px;
  }

  /* ================================================================ */
}
