/* ============================================================ */
/* Using Ubuntu Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*Using Ubuntu Google Fonts Ends Here */
/* ============================================================ */

/* ============================================================ */
/* Default CSS are starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* Default CSS ends here */
/* ============================================================ */

/* ============================================================ */
/* Header CSS Are Starts Here */

/* Header CSS Ends Here */
/* ============================================================ */

/* ============================================================ */
/* SectionOne CSS are starts here */
/* video background */
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#sectionOne {
  width: 100%;
  height: 105vh;
}

#sectionOne article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 250px 0 0 0;
  margin-bottom: 25px;
  z-index: 5;
}
#sectionOne article h1 {
  margin-bottom: 25px;
  font-size: 42px;
  color: #333333;
  font-style: oblique;
  font-weight: bolder;
  letter-spacing: 3px;
  cursor: pointer;
}
#sectionOne article p {
  font-size: 18px;
  line-height: 35px;
  font-style: oblique;
  font-weight: 500;
  color: #555555;
  width: 900px;
  letter-spacing: 1px;
  cursor: pointer;
}
.bookNowButton {
  width: fit-content;
  margin: 0 auto;
}
.bookNowButton button {
  font-weight: 400;
  padding: 10px;
  width: 135px;
  letter-spacing: 1px;
  font-size: 17px;
  font-style: oblique;
  outline: none;
  border: none;
  background-color: yellow;
  border-radius: 3px;
  color: #333333;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}
.bookNowButton button:hover {
  background-color: #333333;
  color: yellow;
}

/* video by max avans on pexels.com */
.videoBy {
  position: fixed;
  bottom: 10px;
}
.videoBy a {
  font-size: 14px;
  color: yellow;
  font-style: oblique;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: alias;
}
/* SectionOne CSS ends here */
/* ============================================================== */

/* ============================================================== */
/* Service Section CSS are starts here */
#sectionTwo {
  padding: 70px;
  z-index: 10;
}
.serviceTitle {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 70px;
  position: relative;
}
.serviceTitle article h2 {
  width: 100%;
  color: #333333;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-style: oblique;
  cursor: pointer;
}
.serviceTitle article img {
  position: absolute;
  top: 150%;
  left: 50%;
  width: 130px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
#sectionTwo .serviceCards {
  width: 100%;
  margin: 0 auto;
}
.serviceCards .serviceCard {
  width: 397px;
  height: 105px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.serviceCard img {
  width: 65px;
  float: left;
  cursor: crosshair;
}
.serviceCard article {
  width: 300px;
  float: right;
}
.serviceCard article h3 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333333;
  font-style: oblique;
  letter-spacing: 2px;
  font-size: 21px;
  cursor: pointer;
}
.serviceCard article p {
  font-size: 16px;
  color: #555555;
  font-style: oblique;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
/* Service Section CSS ends here */
/* =========================================================== */
