/* ============================================================ */
/* Using Ubuntu Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*Using Ubuntu Google Fonts Ends Here */
/* ============================================================ */

/* ============================================================ */
/* Default CSS are starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* smootly scrolling the page */
html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
  content: "";
  clear: both;
  display: table;
}

section {
  padding: 130px 0 130px 0;
}

/* default title div CSS are starts here */
.titleDiv {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 90px;
  position: relative;
}
.titleDiv article h2 {
  width: 100%;
  color: #333333;
  text-align: center;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: oblique;
  cursor: pointer;
}

/* when hover over the each section title then apply the cool hover effect (starts)*/
.coolHoverEffect {
  --c: #1095c1;
  line-height: 1.2em;
  background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0)
      0 var(--p, 0%),
    conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0) 100%
      var(--p, 0%);
  background-size: var(--s, 0%) 200%;
  background-repeat: no-repeat;
  transition: 0.4s ease-in, background-position 0s;
}
.coolHoverEffect:hover {
  --p: 100%;
  --s: calc(
    50% + 0.61em
  ); /* it should be 0.6em(1.2em/2) but we use a litte bigger */
  color: #fff;
}
/* when hover over the each section title then show the hover effect (ends)*/

.titleDiv article img {
  position: absolute;
  top: 150%;
  left: 50%;
  width: 130px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
/* default title div CSS ends here */
/* Default CSS ends here */
/* ============================================================ */

/* ============================================================ */
/* Header CSS Are Starts Here */
header {
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #ffffffdc;
  z-index: 100;
}
header .logo {
  width: fit-content;
  height: fit-content;
  float: left;
  padding: 5px;
}
header .logo img {
  width: 200px;
  height: 40px;
  cursor: crosshair;
  transition: all 0.6s;
}
header .logo:hover img {
  transform: scale(1.1);
}

/* hide the mobile menu bar outside max width 600px */
.menuBar {
  display: none;
}

header nav {
  width: 70%;
  float: right;
  margin-top: 13.5px;
}
header nav ul {
  list-style: none;
  float: right;
}
header nav ul li {
  display: inline-block;
  padding: 3px;
  margin-right: 25px;
  transition: 0.5s;
}

header nav ul li:hover {
  transform: scale(1.1);
}
header nav ul li a {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 3px;
  text-decoration: none;
  color: #3799db;
  font-style: oblique;
  transition: all 0.5s;
  position: relative;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  transform-origin: left;
  width: 0%;
  height: 1px;
  background-color: #3799db;
  transition: all 0.3s;
}
header nav ul li:hover a {
  color: #000000;
}
header nav ul li:hover a::after {
  width: 100%;
}
header nav ul li:nth-child(2) a {
  color: #000000;
}
header nav ul li:nth-child(2):hover a {
  color: #3799db;
}
header nav ul li:last-child {
  margin-right: 0;
}
/* Header CSS Ends Here */
/* ============================================================ */

/* ============================================================ */
/* SectionOne CSS are starts here */
/* video background */
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#sectionOne article {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
}
#sectionOne article h1 {
  margin-bottom: 25px;
  font-size: 35px;
  color: #333333;
  font-style: oblique;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
#sectionOne article p {
  font-size: 18px;
  line-height: 35px;
  font-style: oblique;
  font-weight: 500;
  color: #555555;
  width: 900px;
  letter-spacing: 1px;
  cursor: pointer;
}
.bookNowButton {
  width: fit-content;
  margin: 0 auto;
}
.bookNowButton button {
  font-weight: 400;
  padding: 10px;
  width: 135px;
  letter-spacing: 1px;
  font-size: 17px;
  font-style: oblique;
  outline: none;
  border: none;
  background-color: #3799db;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 180px;
}
.bookNowButton button:hover {
  background-color: #ffffff;
  color: #3799db;
}

/* video by max avans on pexels.com */
.videoBy {
  width: fit-content;
  height: fit-content;
  margin-left: 0;
}
.videoBy a {
  font-size: 14px;
  color: #3799db;
  font-style: oblique;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: alias;
}
/* SectionOne CSS ends here */
/* ============================================================== */

/* ============================================================== */
/* Service Section CSS are starts here */
.serviceCards {
  width: 100%;
  margin: 0 auto;
}
.serviceCard {
  width: 397px;
  height: 105px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.serviceCard:last-child {
  margin-bottom: 0;
}
.serviceCard img {
  width: 65px;
  float: left;
  cursor: crosshair;
  transition: 0.5s;
}
.serviceCard:hover img {
  transform: translateY(-10px) translateX(-10px);
}
.serviceCard:nth-child(2):hover img {
  z-index: 10;
  animation-name: runPlane;
  animation-duration: 1s; /* Adjust the duration as needed */
}
/* Initial styles for all boxes */
.serviceCard {
  opacity: 1;
}

/* Decrease opacity of following sibling boxes when hovering over any box */
.serviceCard:hover ~ .serviceCard {
  opacity: 0.5;
}

/* Increase opacity of the hovered box */
.serviceCard:hover {
  opacity: 1;
}

.serviceCard article {
  width: 300px;
  float: right;
}
.serviceCard article h3 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333333;
  font-style: oblique;
  letter-spacing: 2px;
  font-size: 21px;
  cursor: pointer;
}
.serviceCard article p {
  font-size: 16px;
  color: #555555;
  font-style: oblique;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
/* Service Section CSS ends here */
/* =========================================================== */

/* =========================================================== */
/* Awesome Travel section CSS are starts here */
.awesomeTravelBoxes {
  width: 100%;
}
.awesomeTravelBox {
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 #555555;
  width: 274px;
  margin-right: 30px;
  display: inline-block;
  background-color: #dbdbdb;
  overflow: hidden;
  transition: all 0.5s;
}
.awesomeTravelBox:hover {
  box-shadow: -3px -3px 10px 0 #555555;
  transform: scale(1.02);
  cursor: pointer;
}
.awesomeTravelBox:last-child {
  margin-right: 0;
}
.travelBoxImageBox {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.travelBoxImageBox img {
  width: 100%;
  transition: all 0.5s;
}
.awesomeTravelBox:hover .travelBoxImageBox img {
  transform: scale(1.1);
  cursor: crosshair;
}
.awesomeTravelBoxContent {
  padding: 0 25px 25px 25px;
}
.awesomeTravelBoxContent h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 38px;
  cursor: cell;
  position: relative;
}

/* add a color in price with different id starts */
#atbc1 {
  color: #3799db;
  opacity: 1;
}
#atbc2 {
  color: #a3d770;
  opacity: 1;
}
#atbc3 {
  color: #febe35;
  opacity: 1;
}
#atbc4 {
  color: #3799db;
  opacity: 1;
}
/* add a color in price with different id ends */

/* when hover over the each awesomeTravelBox then decrese some opacity other 3 awesomeTravelBox */
/* Initial styles for all boxes */
.awesomeTravelBox {
  opacity: 1;
}

/* Decrease opacity of following sibling boxes when hovering over any box */
.awesomeTravelBox:hover ~ .awesomeTravelBox {
  opacity: 0.5;
}

/* Increase opacity of the hovered box */
.awesomeTravelBox:hover {
  opacity: 1;
}

/* when hover over the each awesomeTravelBox then add some opacity other 3 awesomeTravelBox */

.awesomeTravelBoxContent h3::after {
  content: "";
  width: 190px;
  border-radius: 5px;
  height: 3.5px;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #3799db;
}

.awesomeTravelBoxContent p {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 400;
  cursor: text;
}
.awesomeTravelBoxContent a {
  text-decoration: none;
  color: #3799db;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: alias;
  transition: all 0.5s;
}
.awesomeTravelBoxContent a:hover {
  color: #ffffff;
}
/* Awesome Travel section CSS ends here */
/* =========================================================== */

/* =========================================================== */
/* Special Categories CSS are starts here*/
.categoriesContainer {
  margin: 0 auto;
}
.specialCategorie {
  width: 377px;
  display: inline-block;
  margin: 0 auto;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.5s;
}
.specialCategorie:hover {
  transform: scale(1.05);
}
.specialCategorie:last-child {
  margin-right: 0;
}
.specialCategoriesImgBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
}
.specialCategoriesImgBox img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: crosshair;
}
.specialCategorie:hover img {
  transform: scale(1.1);
}
.specialCategoriesImgBoxContent article h3 {
  width: 100%;
  font-size: 23px;
  font-weight: 600;
  font-style: oblique;
  color: #3799db;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.specialCategoriesImgBoxContent article h3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  transform-origin: left;
  width: 0%;
  height: 3px;
  background-color: #3799db;
  transition: all 0.3s;
}
.specialCategorie:hover .specialCategoriesImgBoxContent article h3::after {
  width: 100%;
}
.specialCategoriesImgBoxContent article p {
  font-size: 15px;
  font-weight: 400;
  color: #222222;
  letter-spacing: 1px;
  line-height: 25px;
}
/* Special Categories CSS ends here*/
/* =========================================================== */

/* =========================================================== */
/* statistics section CSS are starts here */
.statisticsBox {
  width: 297px;
  display: inline-block;
  transition: all 0.3s;
}
.statisticsBox article img {
  width: 110px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.5s;
}
.statisticsBox:hover {
  cursor: pointer;
}
.statisticsBox:first-child:hover article img {
  z-index: 10;
  animation-name: runPlane;
  animation-duration: 1s; /* Adjust the duration as needed */
}
/* Initial styles for all boxes */
.statisticsBox {
  opacity: 1;
}

/* Decrease opacity of following sibling boxes when hovering over any box */
.statisticsBox:hover ~ .statisticsBox {
  opacity: 0.5;
}

/* Increase opacity of the hovered box */
.statisticsBox:hover {
  opacity: 1;
}

@keyframes runPlane {
  0% {
    transform: translateX(0) rotate(45deg);
  }
  25% {
    transform: translateX(800px) translateY(0) rotate(100deg);
  }
  50% {
    transform: translateX(800px) translateY(300px) rotate(245deg);
  }
  75% {
    transform: translateX(0) translateY(300px) rotate(230deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}
.statisticsBox:nth-child(2):hover article img {
  transform: scale3d(-1.4, 1.4, 1);
}

.statisticsBox:nth-child(3) article img {
  animation: globeSpining1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.statisticsBox:nth-child(3):hover article img {
  animation: globeSpining2;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

/* globe spining default */
@keyframes globeSpining1 {
  from {
    transform: rotate(-360deg);
  }
}
/* globe spining when someone hover over on globe image */
@keyframes globeSpining2 {
  from {
    transform: rotate(360deg);
  }
}

.statisticsBox:last-child:hover article img {
  transform: skew(-0.5rad);
}

.statisticsBox article h3 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  color: #3799db;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.statisticsBox:hover article h3 {
  color: #222222;
}

.statisticsBox article p {
  width: 150px;
  color: #222222;
  font-size: 17px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  transition: all 0.2s;
  position: relative;
}
.statisticsBox:hover article p {
  color: #3799db;
}
.statisticsBox article p::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  transform-origin: left;
  width: 0%;
  height: 2px;
  background-color: #3799db;
  transition: all 0.3s;
}
.statisticsBox:hover article p::after {
  width: 100%;
}
/* statistics section CSS ends here */
/* =========================================================== */

/* =========================================================== */
/* Tour Schedule Section CSS are starts here */
table {
  width: 850px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff4f;
}
table thead {
  cursor: pointer;
}
table thead tr {
  background-color: #3799db;
  transition: all 0.5s;
}
table thead tr:hover {
  background-color: #a3d770;
}
table thead tr th {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 900;
  padding: 20px;
  color: #fff;
  text-align: start;
  text-transform: uppercase;
}

th.th1 {
  width: 150px;
}
th.th2 {
  width: 200px;
}
th.th3 {
  width: 490px;
}

table tbody {
  cursor: pointer;
}
table tbody tr {
  position: relative;
  transition: all 0.3s;
}
table tbody tr:hover {
  background-color: #ffffff80;
}
table tbody tr::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}
table tbody tr td {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: start;
  padding: 20px;
}
table tbody tr td:first-child {
  font-size: 16px;
  font-weight: 500;
}
/* Tour Schedule Section CSS ends here */
/* =========================================================== */

/* =========================================================== */
/* travel packages CSS are Starts here */
.packagesContainer {
  overflow: hidden;
}
.packages {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.packagesIMG {
  float: left;
  width: fit-content;
  margin-bottom: 30px;
  overflow: hidden;
}
.packagesIMG img {
  width: 700px;
  transition: all 0.5s;
  cursor: crosshair;
}
.packagesIMG:hover img {
  transform: scale(1.1);
}
.packagesDetails {
  width: 470px;
  float: right;
}
.packagesDetails article h4 {
  margin-bottom: 25px;
}
.packagesDetails article h4 span:first-child {
  display: inline-block;
  width: 200px;
  font-size: 18px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #3799db;
  cursor: pointer;
}

.packagesDetails article h4 span:last-child {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #000000;
  cursor: pointer;
}
.packagesDetails article h4 span:last-child del {
  margin-right: 10px;
  color: #a3d770;
  font-weight: 700;
  cursor: no-drop;
}
.packagesDetails article h4 span:last-child span {
  color: #3799db;
  font-weight: 900;
  cursor: grabbing;
}
/* travel packages CSS are ends here */
/* =========================================================== */

/* =========================================================== */
/* testimonial section css are starts here */
.testimonialBox {
  position: relative;
  width: 850px;
  margin: 0 auto;
}
.testimonialBox p {
  text-align: center;
  color: #333333;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  font-size: 16px;
  padding-top: 35px;
  margin-bottom: 20px;
}
.testimonialBox p:before {
  content: ",,";
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: #3799db;
  font-weight: 900;
}

.testimonialBoxProfile {
  position: relative;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
}
.testimonialBoxProfile img {
  float: left;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.testimonialBoxProfile img:hover {
  transform: scale(1.1);
}

.testimonialBoxProfile span {
  float: right;
  width: fit-content;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #3799db;
}
/* testimonial section css ends here */
/* =========================================================== */

/* =========================================================== */
/* subscribe section CSS are starts here */
.subscribeMainContent {
  width: 800px;
  margin: 0 auto;
}

.subscribeMainContent form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3799db;
  outline: none;
  width: 460px;
  font-size: 16px;
  font-weight: 300;
}
.subscribeMainContent form input:focus {
  box-shadow: 0 0 10px 1px #3799db;
}

.subscribeMainContent form button {
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: grab;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background-color: #3799db;
  text-transform: uppercase;
  transition: all 0.5s;
}
.subscribeMainContent form button:hover {
  background-color: #ffffff;
  color: #3799db;
}
/* subscribe section CSS end here */
/* =========================================================== */

/* =========================================================== */
/* footer section CSS are Starts here */
footer.footer {
  padding: 120px 0 50px 0;
  overflow: hidden;
  position: relative;
}
.footerContentContainer {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}
.address {
  width: 350px;
  float: left;
}
.contactUsContainer {
  width: 550px;
  float: right;
}
.addressContent {
  margin-bottom: 35px;
}
.addressContent h5 {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
}

.addressContent b {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
.phoneNo {
  margin-bottom: 35px;
}
.phoneNo h5 {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
}

.phoneNo b {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}
.socialLinks h5 {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
  cursor: pointer;
}
.socialLinks ul {
  list-style: none;
  margin: 0 auto;
  width: fit-content;
}

.socialLinks ul li {
  display: inline-block;
  margin-right: 35px;
  font-size: 45px;
}
.socialLinks ul li a {
  color: #3799db;
  transition: all 0.3s;
}
.socialLinks ul li:hover a {
  color: #a3d770;
}

.socialLinks ul li:last-child {
  margin-right: 0;
}

.contactUs h5 {
  text-align: start;
  font-size: 19px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
}

.contactUs form input {
  display: block;
  margin-bottom: 25px;
  padding: 10px 7px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3799db;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}
.contactUs form input:focus {
  box-shadow: 0 0 10px 1px #3799db;
}
.contactUs form textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #3799db;
  margin-bottom: 25px;
  outline: none;
  font-size: 16px;
  padding: 10px 7px;
  font-weight: 300;
  column-rule: #000;
}
.contactUs form textarea:focus {
  box-shadow: 0 0 10px 1px #3799db;
}
.contactUs form button {
  display: block;
  font-size: 16px;
  color: #ffffff;
  background-color: #3799db;
  border: none;
  outline: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
.contactUs form button:hover {
  background-color: #ffffff;
  color: #3799db;
}

/* back to top button are starts here */
.bottomToTopButton {
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  z-index: 100;
  position: fixed;
}
.bottomToTopButton i {
  color: #3799db;
}
/* back to top button ends here */
/* footer section CSS ends here */
/* =========================================================== */
